    .input-filter{
        // &input{
            background-color: $clr1;
            box-shadow: none;
        // }
        width: 99%;
        margin: 5px;
        @include for-narrow-layout {
            // width: 50%;
        
        }
        padding: 12px;
        display: flex;
        // &:hover, &:focus {
        //     background-image: url('../../assets/svg/research.svg');
        //     background-position: right center;
        //     background-repeat: no-repeat;

        // }
    }