.nav-bar-container {
    position: sticky;
    width: 100%;
    top: 0;
    // transition:  .3s;
    &.scrollering {
        position: sticky;
        // height: rem(0px);
    }
    background-color: $clr2;
    z-index: 5;
    font-family: Sen;
    .nav-bar {
        // @include for-normal-layout {
        //     width: $break-normal;
        // }
        a {
            padding: 20px;
            text-align: center;
            font-size: 20px;
            width: 100%;
            height: 100%;
            color: lighten($clr1, 70%);
            transition: background-color .3s, color .3s;
            
            &:hover {
                background-color: $clr3;
            }
            
            &.active {
                color: lighten($clr1, 85%);
                background-color: darken($clr2, 5%) ;
            }
        }
    }
}