.home-page {
    .container-inside {
        padding: 0 rem(10px);
        @include for-normal-layout {
            padding: 0;
        }
        max-width: 550px;
        h2 {
            margin: 0;
            &.title {
                margin-bottom: rem(8px);
            }
        }

        .current-btc {
            p {
                font-family: BalooBhai2;
                font-weight: 700;
                margin: 0;
                font-size: 30px;
                text-transform: uppercase;
            }
        }        
    }
}
.move-list {
    background-color: $clr2;
    padding: rem(10px);
    margin-top: rem(30px);
    .move-list-container {
        padding-top: rem(5px);
        background-color: $clr1;
        display: grid;
        gap: rem(3px);
        li {
            background-color: $clr2;
                h3 {
                    span {
                        margin-inline-end: 0.5ch;
                    }
                }
        }
    }
}