.sign-up {
    width: 100%;
    // height: 60vh;
    margin-top: 30px;
    @include for-medium-mobile-layout {
      // height: 80vh;
  }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: lighten($clr2, 50%);
   
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    
    h2 {
        font-size: rem(20px);
        @include for-medium-mobile-layout {
          font-size: rem(30px);
          text-align: center;
          // height: 0;
          flex-direction: row;
          width: 100%;
      }
        font-weight: 700;
      }

      input, button {
        margin-bottom: rem(15px);
        width: 100%;
      }
}

.bitcoin-img {
background-image: linear-gradient(-86deg, $clr2 0%, $clr4 100%);
border-radius: 100%;
filter: grayscale(0.3);
mix-blend-mode: multiply;
    &svg {
    }
    height: 35vmin;
    pointer-events: none;
  }

@media (prefers-reduced-motion: no-preference) {
    .bitcoin-img {
      animation: bitcoin-img-spin infinite 4s linear;
    }
  }
@keyframes bitcoin-img-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  }