// COLOR PALETTE
$clr1: #282c34;
$clr2: #313949;
$clr3: #535a69;
$clr4: #bed4ff;
$clr5: #eaecf0;

$clrTitle: rgb(253, 132, 132);
$clrNumber: rgb(172, 255, 139);

$clrBtn: rgb(150, 44, 44);
$clrBtnHover: rgb(190, 80, 80);

// BOX-SHADOW
$shadow1: 0px 0px 1px 1px #00000026;
$shadow2: 0px 0px 3px 1px #00000026;
$shadow3: 0px 0px 4px 1px #00000026;
// LAYOUT BREAKPOINTS
$break-mini-mobile: 320px;
$break-medium-mobile: 440px;
$break-mobile: 580px;
$break-narrow: 670px;
$break-small-normal: 820px;
$break-normal: 960px;
$break-wide: 1200px;